*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: sans-serif;
  background: #eef1ff;
}

a{
  color: black;
  text-decoration: none;
  
}

.navbar {
  width: 100%;
  height: 10vh;
  background: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.footer {

width: 100%;
height: 10vh;
background: green;
color: black;
display: flex;
align-items: center;
justify-content: center;
}

.book-list{
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;


}

.favorites{
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;

}

.book-description {
  margin: 0 10px;
}

img {
  max-width: 100%;
  height: 350px;
  transition: all .3s ease;
  display: flex;
  border: solid black 1px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;

}

img:hover {
  transform: scale(1.1);
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  flex-basis: calc((100% - 60px)/4);
  
}

.book-title {

  font-size: 1.2rem;
  padding-bottom: 20px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border-radius: 5px;
  width: 300px;
  font-size: 20px;
}

.fav-text {
 align-items: center;
 background-color: beige;
 width: 100%;
 display: flex;
 justify-content: center;
}


.container {
  width: 80%;
  margin: 50px auto;

}

.para-1 {

  float: left;
  width: 100%;
}

.about-image {
 width: 50%;
 float: left;


      
}

.inner-image {
      
 background: url("https://images.pexels.com/photos/256455/pexels-photo-256455.jpeg");
 width: 100%;
 padding-top: 60%;
 background-size: cover;

}

.para-1 p {

  float: left;
  width: 100%;
  padding: 50px;
  

}

.about-text {
  float: left;
  width: 50%;
}










